<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_afd892893460444199ce6dfdd8e69207 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_afd892893460444199ce6dfdd8e69207" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_afd892893460444199ce6dfdd8e69207 = L.map(
                                  'map_afd892893460444199ce6dfdd8e69207',
                                  {center: [37.75433115,-122.42986847826523],
                                  zoom: 6,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_4eeaac40f5234e2c8977207f424fc3e9 = L.tileLayer(
                'https://{s}.tiles.mapbox.com/v3/mapbox.world-bright/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_afd892893460444199ce6dfdd8e69207);
        
    
            var feature_group_b853f79318e94f28bbe5e6fc19f84397 = L.featureGroup(
                ).addTo(map_afd892893460444199ce6dfdd8e69207);
        
    
            var circle_marker_a0a1f4e68691493bb2961f60093b4611 = L.circleMarker(
                [37.756488877551,-122.429343346939],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "red",
  "fillOpacity": 0.8,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 5,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_b853f79318e94f28bbe5e6fc19f84397);
            
    
            var circle_marker_fe3e152fabb24f9f90bc945bc8752aed = L.circleMarker(
                [37.755725122449,-122.428601306122],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "red",
  "fillOpacity": 0.8,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 5,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_b853f79318e94f28bbe5e6fc19f84397);
            
    
            var circle_marker_c29f0c90292f470ebaab8b6a01aa6169 = L.circleMarker(
                [37.7529648,-122.4317141],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "red",
  "fillOpacity": 0.8,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 5,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_b853f79318e94f28bbe5e6fc19f84397);
            
    
            var circle_marker_a951787dca82498f8c38cd0b0813afac = L.circleMarker(
                [37.7521458,-122.42981516],
                {
  "bubblingMouseEvents": true,
  "color": "#3388ff",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "red",
  "fillOpacity": 0.8,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 5,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_b853f79318e94f28bbe5e6fc19f84397);
            
</script>